<div class="nested-fields">
  <%= f.input :name, wrapper_html: {class: "col-md-6"} %>
  <%= f.input :description, wrapper_html: {class: "col-md-6"} %>
  <%= link_to_remove_association "remove product type", f %>
</div>
