<div class="vote-item">
    <div class="row">
        <div class="col-md-12">
            <div class="vote-actions">
                <i class="fa fa-question fa-2x"></i>
            </div>
            <div class="vote-title">
                <%= potential_compatible.fitment.vehicle.year %> <%= potential_compatible.fitment.vehicle.brand.name %> <%= potential_compatible.fitment.vehicle.model%> <%= potential_compatible.fitment.part.product.name %>
            </div>
        </div>
    </div>
</div>