<div class="vote-item">
    <div class="row">
        <div class="col-md-12">
            <div class="vote-actions">
                <i class="fa fa-question fa-2x"></i>
            </div>
            <div class="vote-title">
                <%= potential_compatible.compatible_part.product.brand.name %> <%= potential_compatible.compatible_part.product.name %> <%= potential_compatible.compatible_part.part_number %>
            </div>
        </div>
    </div>
</div>