<div class="vote-item">
    <div class="row">
        <div class="col-md-12">
            <div class="vote-title">
                <%= oem_part.part_number %> <%= oem_part.product.brand.name %> <%= oem_part.product.name %>
            </div>
            <div class="vote-info">
                <div class="col-md-4"><i class="fa fa-gears"></i><%= link_to " View Part", oem_part  %></div> 
            </div>
        </div>
    </div>
</div>