<div class="card">
  <div class="card-heading">
    <h5>Avatar</h5>
  </div>
  <div class="card-body">
    <p>The Parts Ninja uses Gravatar. To change your Gravatar, please follow this <%= link_to "link", 'https://en.gravatar.com/site/login', target: :_blank %>.</p>
    <h4>Your current Gravatar:</h4>
    <%= gravatar_for(@user) %>
  </div>
</div>

<div class="card">
  <div class="card-heading">
    <h5>Account Settings</h5>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p>Unhappy? Make sure, this is serious...</p>
    <%= link_to "Delete my account", registration_path(resource_name), class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
