<li class="forum-post">
  <div class="forum-post-body">
    <div class="media">
      <%= gravatar_for(forum_post.user, class: "img-circle") %>
      <div class="media-body">
        <%= forum_post.body %>
        <br>
        <small class="text-muted"><%= forum_post.user.username %> | 23rd June at 5:00pm</small>
        <hr>
      </div>
    </div>
  </div>
</li>
