<div class="nested-fields">
  <div class="col-md-1">
    <%= f.association :vehicle_year, label_method: :year, label: false, placeholder: "Year", wrapper_html: { class: 'year-select' } %>
    <%= link_to_remove_association "X", f %>
  </div>
</div>
