<div class="pull-right" style="margin-right:20px;">
  <%= paginate_search(search_record) %>
</div>
<div class="clearfix"></div>
<div class="result-headers hidden-xs hidden-sm">
  <div class="row">
    <div class="col-xs-3 col-md-2"></div>
    <div class="col-xs-9 col-md-10">
      <div class="col-md-3"><h5>Brand</h5></div>
      <div class="col-md-3"><h5>Model</h5></div>
      <div class="col-md-4"><h5>Years</h5></div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<div class="search-result-group">
  <% search_record.results.group_by{ |v| v.vehicle_submodel }.sort_by {|submodel,vehicles| vehicles.first.submodel_score}.reverse.each do |vehicle_submodel, vehicles| %>
    <%= render partial: 'search_result', locals: { vehicle_submodel: vehicle_submodel, vehicles: vehicles } %>
  <% end %>
</div>

<%= pager(search_record) %>

<script type="text/javascript">
  $('.collapse').on('show.bs.collapse', function () {
      $('.collapse.in').collapse('hide');
  });
  $('[data-toggle="popover"]').popover({
    placement : 'top',
    trigger : 'hover'
  });
</script>
