<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Results</h3>
  </div>
  <div class="panel-body">
    <div id="search-notice" class="">
      <div class="">
        <h2 class="text-center">Fill out form to search...</h2>
        <p class="text-center">Select the vehicles and that part that you want to check compatibility with.</p>
      </div>
    </div>
    <div id="results" class="">
    </div>
  </div>
</div>
