<div class="row">
  <div class="col-md-12">
    <div class="card o-f-h">
      <div class="card-bg">
        <div class="hero-text">
          <h1>Find Compatible Vehicles</h1>
          <p>Search for interchangeable vehicles</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= render 'shared/profile' %>
    <%= render 'shared/searches/search_tips' %>
  </div>
  <div class="col-md-9">
    <%= render 'form_panel' %>
    <div class="card">
      <div class="card-heading">
        <h5>Results</h5>
      </div>
      <div class="card-body">
        <div id="search-stats" class="well">
          <div class="text-center">
            <h5>Fill out the form above to start</h5>
          </div>
        </div>
      </div>
      <div id="results" class="card-content">
      </div>
    </div>
  </div>
</div>
