<h2 style="text-transform: uppercase; font-weight: 800;">That part type does not exist... yet!</h2>
<hr>
<p>We do not currently have search capabilities for <strong><%= search_record.category_name %></strong>.</p>
<p>As time goes on, we are choosing to focus on specific part types and gradually build our database of compatibility options.
    Until then try:</p>
<ul>
  <li>Searching for a different part name variation. i.e. Brake Shoes vs. Brake Pads</li>
</ul>
<h4>Still can't find anything?</h4>
<h5>Don't worry! We might (and probably will) have compatibility data for your search in the future!</h5>
<hr>
<div class="text-center">
  <h3>Want to know when it is available?</h3>
  <p>Let us help you find what you're looking for. We'll shoot
  you a quick email and give you a heads up!</p>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'leads/form' %>
    </div>
  </div>
</div>
