// Basic Colors
$navy: #00B4FF;       // Primary color alternate -> 00bf6f -> old green: #98CE07 blue: #00B4FF
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color

// Various colors
$text-color: #676a6c;   // Body text
$main-light: #FFFFFF;
$main: #FFFFFF;
$main-dark: #2D2D2D;
$main-background: #EEEEEE;
$main-dark-text: #B6BABB;

$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue: #f3f6fb;


//Dark Skin
$dark-skin-background: #303133;         // Background wrapper color
$dark-skin-lighter: rgba(0,0,0,0.1);
$dark-skin-main: rgba(0,0,0,0.2);
$dark-skin-darker: #222222;
$dark-skin-darker-text: #BFBFBF;

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: image-url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-profil-pattern: image-url("patterns/header-profile.png") no-repeat;
$nav-text-color: #a7b1c2;
