<% if current_user %>
    <%= render 'layouts/sidebar_nav' %>
<% else %>
  <div class="card o-f-h">
    <div class="card-profile-bg"></div>
    <div class="card-body text-center">
      <div class="card-profile-image">
        <%= image_tag("parts_ninja_dark_logo") %>
      </div>
      <div class="card-profile-username">
        Hey You! <strong>Yeah, YOU!</strong>
      </div>
        Open registration is currently closed but we do have a cool email list to sign up for. Be the first on the
        block to sign up for this awesome list and get all the latest news.
      <div>
        <div class="text-center btn-group">
          <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default" %>
          <%= link_to "Sign In", new_user_session_path, class:"btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
