<section class="sub-header">
  <div class="container quicklinks">
    <div class="col-md-8 col-md-offset-2">
      <div class="quicklinks">
        <ul class="">
          <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
          <li><%= link_to "Terms of Service", terms_of_service_path %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
