<section class="tpn-header">
  <div class="page-header-content container">
    <div class="results">
      <% if @vehicle %>
          <h2>Showing results for: <br> <span class="text-navy"><%= link_to "#{@vehicle.year} #{@vehicle.brand.name} #{@vehicle.model}", @vehicle %> <i>"<%= @part.name %>"</i></span></h2>
       <% else %>
        <h2>Sorry, no results were found.</h2>
      <% end %>
    </div>
  </div>
</section>
