<div id="hero">
  <div id="particles-js" style="position:absolute;top:0; width:100%; height:100%;"></div>
  <section class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1><span class="rotate" data-text="The Parts Ninja, Community Built, Data Inspired, The Parts Project"></span></h1>
        <p>Search for motorsport parts in a different way, one based on data and the discoveries by others like you!
          Every gearhead has a story about how they've saved the day by McGyvering a non-oem part.
          Now it's time to put that story to use!
        </p>
        <div class="cta">
          <%= link_to icon(:play) + " Learn More", "#about", class: "btn-shadow btn-shadow-primary" %>
        </div>
      </div>
      <div class="col-sm-5">
        <%= image_tag("landing/ThePartsNinjaMockUp.png", class:"fadeInScale hidden-xs") %>
      </div>
    </div>
  </section>
</div>

<script>
  particlesJS.load('particles-js', "<%= asset_path 'particles.json' %>");
</script>
