<div id="hero" class="">
  <section class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1>A Different Parts Search</h1>
        <p>Whatever you are looking for, the Parts Ninja will help you find it! The Parts Ninja cross references thousands of parts to find you every possible compatible option.</p>
        <div class="cta">
          <%= link_to icon(:play) + " Learn More", "#about", class: "btn-outline popup-media" %>
        </div>
      </div>
      <div class="col-sm-5">
        <%= image_tag("landing/ThePartsNinjaMockUp.png", class:"fadeInScale hidden-xs") %>
      </div>
    </div>
  </section>
</div>
