<div id="hero" class="">
  <section class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1>The <span class="rotate" data-text="Parts Ninja, Data Driven, Community Built, Parts Database"></span></h1>
        <p>The Parts Ninja adds the missing element of all existing parts database... <strong>You!</strong>
          Ask anyone who's ever wrenched before and they'll tell you they've learned a thing or two. It's
          time to put that to good use!
        </p>
        <div class="cta">
          <%= link_to icon(:play) + " Learn More", "#about", class: "btn-shadow btn-shadow-primary" %>
        </div>
      </div>
      <div class="col-sm-5">
        <%= image_tag("landing/ThePartsNinjaMockUp.png", class:"fadeInScale hidden-xs") %>
      </div>
    </div>
  </section>
</div>
