<div id="stats" class="">
  <div class="container">
    <ul class="stats-list">
      <li class="stat">50,000+ Vehicles</li>
      <li class="stat">300,000+ Parts</li>
      <li class="stat">Millions of Possibilities</li>
    </ul>
  </div>
</div>
