<section class="tpn-header">
  <div class="page-header-content container no-padding">
    <div class="col-md-12">
      <div class="row">
        <div class="ibox m-t-25">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-5">
                  <div class="">
                    <%= image_tag("missing-image.png", class:"img-responsive") %>
                  </div>
              </div>
              <div class="col-md-7">
                <table class="table small m-b-xs">
                  <tbody>
                    <tr>
                        <td><h3><strong>Year:</strong> <%= @vehicle.vehicle_year.year %> </h3></td>
                        <td><h3><strong>Make:</strong> <%= @vehicle.brand.name %></h3></td>
                    </tr>
                    <tr>
                        <td><h3><strong>Model:</strong> <%= @vehicle.model %></h3></td>
                        <td><h3><strong>Category:</strong> Motocross</h3></td>
                    </tr>
                    <tr><td></td><td></td></tr>
                  </tbody>
                </table>
                <div>
                    <h4>Description</h4>
                    <small>
                        This is the bike that sets the pace in the 250 2-stroke class. Powered by an enormously powerful and responsive motor that benefits from our torque-boosting Yamaha Power Valve System (YPVS), the AMA Supercross-winning YZ250 offers today´s motocross rider the ultimate in two stroke performance.
                    </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>
