<% if @lead.errors.any? %>
  $('#new_lead').html("<%= escape_javascript(render partial: 'leads/form') %>");
<% else %>
  $('#new_lead').fadeOut("slow", function(){
     var div = $("<div id='success'><h1>Thanks for being awesome!</h1><p>From now one we will keep you in the loop!</p></div>").hide();
     $(this).replaceWith(div);
     $('#success').fadeIn("slow");
  });
<% end %>
