.forum-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  .forum {
    color: #333333;
    padding: 10px;
    border-bottom: 1px solid #efefef;
    &:last-child {
      border-bottom: 0px;
    }
    &:hover {
      background-color: #f3f3f3;
      cursor: pointer;
    }
    a {
      color: inherit;
    }
  }
}
