<%= link_to account_discussion_path(discussion) do %>
  <li class="discussion">
    <div class="discussion-body">
        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. Duis vel condimentum massa...
      <br>
      <small class="text-muted">Last Message: Alex Deo | 23rd June at 5:00pm</small>
    </div>
  </li>
<% end %>
