<div class="card">
  <div class="card-heading m-b-none">
    <h5>Discussions</h5>
  </div>
  <ul class="discussion-list">
    <% if @discussions.any? %>
      <%= render @discussions %>
    <% else %>
      <li class="discussion">
        <div class="discussion-body text-center">
            No discussions yet. But you could start one...
            <%= render 'form' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
