<div class="card">
  <div class="card-heading">
    <h5>Discussion</h5>
  </div>
  <div class="card-body">
    <div class="discussion">
      <ul class="media-list">
        <% 5.times do %>
          <li class="media">
            <div class="media-body">
              <div class="media">
                <a class="pull-left" href="#"><img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"></a>
                <div class="media-body">
                    Donec sit amet ligula enim. Duis vel condimentum massa.
                    Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                    Duis vel condimentum massa.
                    Donec sit amet ligula enim. Duis vel condimentum massa.
                  <br>
                  <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                  <hr>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="current-chat-footer">
      <div class="panel-footer">
         <div class="input-group">
           <input type="text" class="form-control">
           <span class="input-group-btn">
             <button class="btn btn-default" type="button">Send</button>
          </span>
         </div>
       </div>
    </div>
  </div>
</div>
