<div class="nested-fields">
  <%= f.input :name, label: false, placeholder: "Make", wrapper_html: { class: "col-md-10" }, required: true%>
  <%= link_to_remove_association "Use existing brand", f %>
</div>
