<% provide(:header, "Vehicles") %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            New Vehicle
        </div>
        <div class="panel-body">
          <%= link_to "Bulk Vehicles", new_admin_vehicle_model_path %> | <%= link_to "Single Vehicle", new_admin_vehicle_path %>
            <%#= render 'admin/vehicle_models/form' %>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Showing all Vehicles
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-vehicles">
                    <thead>
                        <tr>
                            <th>Vehicle ID</th>
                            <th>Year</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Submodel</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= render partial: 'admin/vehicles/vehicle', collection: @vehicles %>
                    </tbody>
                </table>
            </div>
            <%= paginate @vehicles %>
        </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      $('#dataTables-vehicles').DataTable({
        responsive: true,
        "aaSorting": [],
        "paging": false
      });
  });
</script>
