<section id="about" class="container features">
  <div class="row">
      <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Who is...<br/> <span class="navy"> <i>The Parts NINJA?</i></span> </h1>
          <p>Even though he hides in the shadows, he knows everything about the parts world</p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3 text-center wow fadeInLeft">
          <div>
              <i class="fa fa-mobile features-icon"></i>
              <h2>Always at Hand</h2>
              <p>The Parts NINJA is always there to help you. At home on your computer or in your pocket while you're in the store. We've got you.</p>
          </div>
          <div class="m-t-lg">
              <i class="fa fa-bar-chart features-icon"></i>
              <h2>Services</h2>
              <p>The Sensei offers other services such as a Part-Out tool that will take out the hassle of determining what parts to sell.</p>
          </div>
      </div>
      <div class="col-md-6 text-center  wow zoomIn">
          <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
      </div>
      <div class="col-md-3 text-center wow fadeInRight">
          <div>
              <i class="fa fa-envelope features-icon"></i>
              <h2>Compatibility Webs</h2>
              <p>Tricky algorithms that show all potential replacements for common and specialized parts.</p>
          </div>
          <div class="m-t-lg">
              <i class="fa fa-google features-icon"></i>
              <h2>Market Place</h2>
              <p>Easily post and find ads for used parts. You don't have to worry about searching for what it fits, trust the Sensei to do it for you.</p>
          </div>
      </div>
  </div>
</section>

<section class="cta-block gray-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Parts at Your Fingertips!</h1>
            <p>Run out of options? Local shop out of stock? The Sensei can help!</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>The Parts NINJA</small>
            <h2>All the parts, all together</h2>
            <p>The ultimate DIY mechanic resource and is built by you, and all the other garage McGyvers around the world. Remember how you replaced your '11 TM Racing 250MX clutch plates with some left over '07 CR250 plates? Go ahead and submit it. Doing so allows the next person who’s in your same situation, to find an alternative. Using some sneaky ninja magic, The Parts Ninja will add this to the compatibility web so that new, unthought-of possibilites are right there when you need them most.</p>
            <%= link_to "Become a Ninja!", sign_up_path, class:"btn btn-primary"  %>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
  </div>
</section>
