<div class="card breadcrumb forum-breadcrumb">
  <div class="card-body">
    <%= link_to 'Forums', forum_root_path %> / <%= link_to @topic.title, forum_topic_path(@topic) %> / New Thread
  </div>
</div>

<div class="card">
  <div class="card-heading">
    <h5>Start A New Thread</h5>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
