.green {color: green;}

.vehicle-model {
  .year-select-fields {
    a { color: red; position: relative; top: 6px;}
    .year-select {
      width: 90px;
      display: inline-block;
    }
  }
}

.hover-link {
  color: white;
  &:hover { text-decoration: none; }
}
