<div class="card">
  <div class="card-heading">
    <h5>Notifications</h5>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="text-center">No new notifications</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-heading">
    <h5>Leave us some feedback!</h5>
  </div>
  <div class="card-body">
    <p>We're constantly working on building The Parts Ninja to be the go-to resource for motorsport related parts questions. This will however
      take a considerable amount of time and effort... but you can help! It would greatly speed along the process if you would give us your feedback,
      questions or concerns. We're building this for you, let us know what you want!</p>
  </div>
</div>
