<div class="card">
  <div class="card-heading">
    <h5>Search Tips:</h5>
  </div>
  <div class="card-body">
    <ul>
      <li>Parts may go by different name than you normally use, try other combinations</li>
      <li>Certain part categories have filters to narrow down by fitment type, ie. Front/Back. Use them
      if available</li>
      <li>Search using the base model unless the part you are looking for is specifically for your submodel</li>
      <li><strong>Note:</strong> These are just recommendations based on existing database data</li>
    </ul>
  </div>
</div>
