<div class="card">
  <div class="card-heading">
    <h5>Search Tips</h5>
  </div>
  <div class="card-body">
    <p>Try these techniques for better searching:</p>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
      <li>Nunc dignissim risus id metus.</li>
      <li>Cras ornare tristique elit.</li>
      <li>Vivamus vestibulum nulla nec ante.</li>
      <li>Praesent placerat risus quis eros.</li>
      <li>Fusce pellentesque suscipit nibh.</li>
    </ul>
  </div>
</div>
