<div class="ibox">
  <div class="ibox-title">
    <div class="logo"><%= image_tag("ThePartsNinjaLight.png", class:"img-responsive") %></div>
  </div>
  <div class="ibox-content profile-content">
    <% if current_user %>
        <h2 class="text-center font-bold" style="color: #D8D8D8;">Hey <%= current_user.username %>!</h2>
        <hr style="opacity: 0.05">
        <p>Here's a quick list of some of your last searches...</p>
        <ul>
          <li>2006 Yamaha YZ250 Front Wheel</li>
          <li>2006 Yamaha YZ250 Front Wheel Bearings</li>
          <li>2011 TM Racing 250MX Clutch Plates</li>
          <li><a href="/" style="color: #5FD063;">+More</a></li>
        </ul>
      <div class="user-button">
          <div class="row">
              <div class="col-md-12 text-center">
                <%= link_to account_root_path, class:"btn btn-primary text-center" do %> Dashboard <% end %>
              </div>
          </div>
      </div>
    <% else %>
      <h2 class="text-center font-bold">Hey You!</h2>
      <br>
      <p>
          Yeah <strong>YOU!</strong> You're currently viewing Parts Web results as a guest. Did you know you'll get access to even more awesome-ness if you sign up?
      </p>
      <ul>
        <li>Help out the Community</li>
        <li>Unlimited Results</li>
        <li>Part Notifications</li>
        <li>Access to the Marketplace</li>
        <li>Much More +</li>
      </ul>
      <p>Signing up is free and we won't require you to do anything you don't absolutly want too. </p>
      <div class="user-button">
          <div class="row">
              <div class="col-md-6">
                <div class="btn btn-primary disabled">Register</div>
              </div>
              <div class="col-md-6">
                <%= link_to login_path, class:"btn btn-primary" do %> Sign-In <% end %>
              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
