<ul>
<% attribute_variations.each do |variation| %>
<li>
<%= variation.name %> <%= link_to "Edit", edit_admin_part_attribute_path(variation)%>
<%= render partial: 'variation', locals: {attribute_variations: variation.attribute_variations} if variation.attribute_variations.present? %>
</li>
<% end %>
</ul>
