html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.hero { 
  background: image-url('Compatible-bg.png') no-repeat center center; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  padding: 200px 0 200px 0; 
  height: auto;
  background-color: #1E1825; 
}
.hero h1 { font-size: 80px; margin: 30px 0 10px; font-weight: 900; color: #fff;}
.hero h1 span { color: #a1a9b0; display: inline-block; }
.hero p { font-size: 24px; font-weight: 400; color: #fefefe; }

.page-header-image {
  padding: 25px 0 25px;
}

.intro {
  width:100%;
  position:relative;
  padding:0;
}
.intro-inner {
  width:100%;
  position:relative;
  padding:120px 0 20px;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

/*Pretty Notice and Flash message*/
#notice-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    .alert, .notice {
        padding: 2.5rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
    .alert {
        background: rgba(234, 136, 136, 0.9);
    }
    .notice {
        background: rgba(52, 152, 219, 0.9);
    }
}

/*Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #2D2D2D;
    padding: 20px 20px;
}
    /* menu */
ul.footer-menu {
  list-style: none;
}

ul.footer-menu li {
  float: left;
  margin: 0 0 0 10px;

}

ul.footer-menu li a {
  color: #fff;
  font-size: 16px;
  padding-left: 9px;
  line-height: 1.1em;
  &:hover {
      color: $navy;
    }
}

ul.footer-menu li:first-child a {
  border-left: none;
  padding-left: 0;
}

.social-icons {
    float:right;
    display: flex;
    list-style: none;
    a {
      color:white;
      padding-right: 10px;
    }
    a:hover {
      color: $navy;
    }
}