html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: $flat-background;
  color: #B1B1B1;
}

/* General Use Classes
-------------------------------------------------- */
.red { color: red}
.green { color: #00B700}
.yellow {color: yellow}
.white-section { background-color: white;}
.display-none { display: none;}
.left-border { border-left: 1px solid #D4D4D4; }
.no-margin { margin: 0px;}
.no-side-margin { margin-left: 0px; margin-right:0px;}
.float-right {float: right;}
.gray-section { background: #F9F9F9;}

/* RANDOM FIXES
-------------------------------------------------- */
//The border won't show up on a validation error.
.has-error .form-control {
  border-color: #a94442 !important;
}

//Make those error messages more pleasing to look at...
.alert-danger {
    background-color: #EA5858;
    border-color: #F54343;
    color: #FFFFFF;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
  margin-top: 50px;
  .nav > li > a i { margin-right: 6px;}
  .navbar {
    border-radius: 0px;
    li > a {
      font-weight: 400;
      font-size: .95em;
      padding: 14px 20px 14px 25px;
      color: #FFFFFF;
      opacity: .85;
      text-transform: uppercase;
      &:hover {
        background-color: #333333;
        color: $navy;
      }
      &:active {
        background-color: #333333;
        color: $navy;
      }
      &:visited {
        background-color: #333333;
      }
      &:focus {
        background-color: #333333 !important;
        color: $navy !important;
      }
    }
    .dropdown-menu {
      background-color: $flat-darker;
      li > a {
        text-transform: none;
        padding: 5px 20px 5px 20px;
        font-weight: 400;
        color: $main-dark-text;
      }
    }
  }
  .navbar-default { background-color: $flat-darker;}
  .navbar-brand {
    color: #fff;
    height: auto;
    display: block;
    font-size: 14px;
    background: $navy;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 4px;
    margin-top: 5px;
    border: 1px solid $navy;
    &:hover {
      color: white;
      border: 1px solid $navy;
    }
  }
  .navbar-fixed-top {
    border-bottom: 0px solid #D4D4D4;
    box-shadow: 0 1px 3px 0 rgba(28,38,53,.2),0 1px 1px 0 rgba(28,38,53,.14),0 2px 1px -1px rgba(28,38,53,.12);
  }
  .top-menu-border { border-top: 1px solid #d4d4d4;}
}

/* PAGE HEADER
-------------------------------------------------- */
.tpn-header {
  background: #26292D image-url('Compatible-bg.png');
  background-size: 100% auto;
  background-position-y: -55%;
  h2 {
    font-weight: 500;
    line-height: 40px;
    color: #AFAFAF;
  }
  .page-header-content {
    padding: 50px 0px;
  }
  .results { text-align: center;}
  .default {
    padding: 0px;
    img {
      height: 150px !important;
      margin: auto;
    }
    h1 {
      color: white;
      font-weight: 900;
      margin-top: 0px;
      padding-top: 5px;
      border-top: 1px solid $navy;
    }
  }
}

.sub-header {
  background-color: $flat-darker;
  padding: 15px;
  .quicklinks {
    width: 100%;
    text-align: center;
    ul {
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float:left;
      border-left: 1px solid gray;
      &:first-child {border-left: 0px;}
      a {
        display: inline-block;
        color: gray;
        text-align: center;
        padding: 0px 14px;
        text-decoration: none;
        font-size: .65em;
        &:hover { color: $navy;}
      }
    }
  }
}

.stats-box {
  margin-top: -30px;
  background: #fff;
  box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05),0 6px 20px 0 rgba(0, 0, 0, 0.02);
  padding: 0px 20px;
  border-radius: 15px;
  .infinite {
    font-size: 51px;
    margin: 0px;
  }
}

/* PAGE CONTENT
-------------------------------------------------- */
span.navy { color: $navy;}
p.text-color { color: $text-color;}
a.navy-link {
  color: $navy;
  text-decoration: none;
  &:hover {
    color: darken($navy, 5%);
  }
}

section p {
  color: #aeaeae;
  font-size: 13px;
}

.navy-line {
  width: 60px;
  height: 1px;
  margin: 60px auto 0;
  border-bottom: 2px solid $navy;
}

.signupColumns {
  .logo { height: 250px; margin: auto;}
  max-width: 800px;
  margin: 0 auto;
}

.info-pages {
  background-color: #F9F9F9 !important;
  color: #636363;
}

.sign-up-banner {
  background: image-url('splash_header.jpg');
  background-color: $main-background;
  background-size: cover;
  padding: 40px;
  text-align: center;
  h1 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
  }
  p {
    color: #fff;
  }
}

.coming-soon-bg {
  position: absolute;
  background: image-url('splash_header.jpg');
  background-color: $main-background;
  height:100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
}

.hero {
  background: image-url('splash_header.jpg');
  background-color: #343748;
  height:100%;
  width: 100%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  h1 {
    font-size: 48px;
    // margin: 30px 0 10px;
    font-weight: 700;
    color: #fff;
    span {
      color: #a1a9b0;
      display: inline-block;
    }
  }
  h3 {
    color: #CCCCCC;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .welcome {
    margin-top: 75px;
    margin-bottom: 40px;
  }
  .welcome-wrapper-left {
    margin-top: 20%;
  }
}

/* SECTIONS
-------------------------------------------------- */
.features-block, .features-text {
  margin-top: 40px;
}

.features {
  small {
    color: $navy;
  }
  h2 {
    font-size: 18px;
    margin-top: 5px;
  }
}

.features-icon {
  color: $navy;
  font-size: 40px;
}

/* IBOX
-------------------------------------------------- */
.ibox {
  background-color: $flat-main;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
  .ibox-content {
    background-color: $flat-main;
    color:#BDBDBD;
    border-width: 0px;
    border-radius: 3px;
    overflow: hidden;
    h3 {color: rgba(255, 255, 255, 0.85);}
    .form-control {
      background-color: #2b2b2b;
      border: 1px solid $flat-darker;
      &:focus { border: 1px solid $navy;}
    }
    .select { background-color: #1E1F20}
    .btn {
      color: #FFFFFF;
      background-color: $navy;
      border: 1px solid transparent;
      border-radius: 0px;
      &:hover { background: darken($navy, 5%);}
    }
    .btn-contrast {
      background-color: $flat-darker;
      &:hover {background-color: lighten($flat-darker, 5%);}
    }
  }
  .ibox-title {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    border-width: 0px;
    border-bottom: 1px solid $navy;
    color: #E6E6E6;
    background-color: rgba(0, 0, 0, 0.2);
    .label {
      float: none;
    }
  }
  .ibox-footer {
    border: 0px;
    background-color: $flat-darker;
  }
  .check-container {
    text-align: center;
  }
  .checkbox {
    display: inline-block;
    margin: 10px;
  }
}

.search-box-padding {
  padding:30px;
}

/* SPECIAL USE IBOXES
-------------------------------------------------- */
#comingSoon, #intro {
  .ibox {box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5) !important;}
  .btn {
    width: 50%;
  }
  .ibox-content {
    padding: 10px 50px 10px 50px;
  }
  .ibox-footer {
    padding: 30px;
    text-align: right;
    a {color: $navy}
    ul {
      float:left;
      list-style: none;
      padding: 0;
      li { display: inline-block;}
    }
  }
}
.small-footer {
  padding: 10px !important;
  a { color: inherit;}
}

/* BRANDS INDEX PAGE
-------------------------------------------------- */
.brand {
  .title {
    width: 100px;
    border-bottom: 1px solid rgba(232, 232, 232, 0.42);
    margin: 5px;
    h1 {
      margin-left: 10px;
      font-weight: bold;
      margin-bottom: 0px;
    }
  }
  a {
    color:#676a6c;
    &:hover { color: $navy;}
  }
  .brands-list { margin-bottom: 40px;}
}

/* COMPATIBLE/POTENTIAL PARTIALS
-------------------------------------------------- */
.part-group {
  border-top: 1px solid #2F2F2F;
  &:hover { background-color: darken($flat-main, 5%);}
  .part-title {
    padding: 20px;
    cursor: pointer;
    .part-info-btn {
      color: $flat-main;
      float:right;
    }
  }
}

.vote-item {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid #2F2F2F;
  &:hover { background-color: rgba(0, 0, 0, 0.2);}
  &:last-child { border-bottom: 0px;}
  &:first-child { border-top: 0px; }
  .multiple-vehicles {
    float:left;
    &:hover {
      cursor: pointer;
      color: $navy;
    }
  }
}

.comp-profile > img {
  height: 50px;
  border-radius: 3px;
}

.vehicle-dropdown {
  clear:both;
  color: #ADACAC;
  background-color: rgba(0, 0, 0, 0.1);
  .info {
    border-top: 1px solid gray;
    padding: 10px 20px;
    margin: 0px 10px;
  }
}

.vote-actions {
  a { color:#717171;}
  .up:hover {color: #00B700;}
  .down:hover {color: red;}
  .upvoted {color: #00B700 ;}
  .downvoted {color: red;}
}

/* DISCOVERY SHOW PAGE
-------------------------------------------------- */
.compatible {
  .backwards {
    display:inline;
    font-size: 20px;
    i {display:block;}
  }
  .part{
    color:inherit;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .part-info {
    color: #b4b6b8;
    font-size: 12px;
    a { color:inherit;
      &:hover {color: $navy;}
    }
  }
}

.step-outline {
  width: 100%;
  padding: 50px 20px;
  border: solid 1px rgba(128, 128, 128, 0.16);
  border-radius: 10px;
  margin-bottom: 5px;
}

.oem-vehicle {
  text-align: center;
  a {
    color:#676a6c;
    &:hover { color: $navy;}
  }
}

/* POPOVERS
-------------------------------------------------- */
.popover {
  text-align: center;
  box-shadow: 3px 5px 5px rgba(132, 131, 131, 0.2);
  .popover-title {color: #686B6D;}
  .popover-content {color: gray;}
}

/* USER DASHBOARD
-------------------------------------------------- */
.dashboard-links {
  padding: 0px;
  a {color: gray; &:hover {color: $navy;}}
  li {
    padding: 5px;
    border-bottom: 1px solid #e7eaec;
    display: block;
  }
}

/* USER PROFILE
-------------------------------------------------- */
.profile-image {
  img {border-radius: 10px;}
}

/* Buttons - only primary custom button
------------------------- */
.btn-primary {
  background-color: $navy;
  border-color: $navy;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
  &:hover, &:focus, &:active, &.active {
    background-color: darken($navy, 5%);
    border-color: darken($navy, 5%);
    color: #FFFFFF;
  }
}

/* FOOTER
-------------------------------------------------- */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $flat-darker;
  color: $flat-darker-text;
  padding: 40px;
  font-weight: 300;
  h3 { color: #ffffff;}
  ul {
    list-style: none;
    padding: 0px;
  }
  .social-icons {
    li {float: left;}
  }
  a {
    color: $flat-darker-text;
    &:hover { color: $navy;}
  }
  .copyright {
    text-align: center;
    margin-top:15px;
    padding: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.12);
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .navbar.navbar-scroll .navbar-brand {
    margin-top: 6px;
  }
  .navbar-default {
    background-color: $flat-darker;
    border-color: #fff;
    padding: 15px 0;
    .navbar-nav > .active > a:focus {
      background: $navy;
      color: inherit;
    }
    .nav li a {
      color: $main-dark-text;
      &:hover {
        color: #777;
        background-color: #f9f9f9;
      }
    }
  }
  .navbar-wrapper .navbar {
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
  }
  .nav > li > a {
    padding: 25px 10px 15px 10px;
  }
  .navbar-nav > li > a {
    padding: 20px 10px;
  }
  .navbar .navbar-brand {
    margin-top: 6px;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    height: auto;
  }
  .navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 5px;
  }
  .navbar-default .navbar-nav > .active > a {
    color: inherit;
    &:hover {
      color: #fff;
    }
  }
  .navbar .navbar-header {
    display: block;
    float: none;
    .navbar-toggle {
      background-color: $main-dark;
      padding: 9px 10px;
      border: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .welcome-wrapper {
    margin-bottom: 30px;
    text-align: center;
  }
  .welcome-wrapper-left {
    margin-top: 0% !important;
  }
  .form-control {
    border: 1px solid #585858 !important;
  }
}

@media only screen and (min-width : 992px) {
  body { margin-bottom: 215px; }
  footer { height: 215px; position: absolute;}
}
