//ibox

.dark-skin {
  background-color: $dark-skin-background !important;
  .navbar-default { background-color: $dark-skin-darker;}
  .navbar-fixed-top { border-bottom: 1px solid #1F1F1F;}
  .navbar {
    li {
      a {
        color: $dark-skin-darker-text;
        font-size: 15px;
        font-weight: 400;
        &:hover {
          background-color: #333333;
          color: $navy;
        }
        &:active {
          background-color: #333333;
          color: $navy;
        }
        &:visited {
          background-color: #333333;
        }
        &:focus {
          background-color: #333333;
          color: $navy;
        }
      }
    }
  }
  .dropdown-menu { background-color: $dark-skin-darker;}
  .wrapper-content { color: #BFBFBF;}
  .ibox {
    background-color: $dark-skin-background;
    .ibox-content {
      background-color: $dark-skin-main;
      color:#BDBDBD;
      border-width: 0px;
      .form-control {
        background-color: $dark-skin-main;
        border: 1px solid $dark-skin-main;
        &:focus { border: 1px solid $navy;}
      }
      .btn {
        color: #BBBBBB;
        background-color: $dark-skin-lighter;
        border: 1px solid transparent;
        &:hover { background: $dark-skin-darker;}
      }
    }
    .ibox-title {
      border-width: 0px;
      color: white;
      color: #D6D6D6;
      background-color: $dark-skin-background
    }
    .ibox-footer {
      border: 0px;
      background-color: $dark-skin-darker;
    }
  }
  .home-search-box {
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
    h2 {
      font-weight: 900;
      color: #D0D0D0;
    }
    h3 {color:#8C8C8C;}
    .ibox-content { padding: 10px 50px 10px 50px;}
  }
  .vote-item {
    background-color: transparent;
    border-top: 1px solid #2F2F2F;
    &:hover { background-color: #1F1F1F;}
    &:last-child { border-bottom: 0px;}
  }
  .tpn-header{
    background-color: #26292D;
    h2 {color: #AFAFAF;}
  }
  .sub-header {
    background-color: $dark-skin-darker;
    border: 0px;
  }
  .results-search-form {
    .form-control {
      background: transparent;
      color: #C5C5C5;
      border: 1px solid #313131;
    }
    input {
      color: #313131;
      border-radius: 0px;
      &:focus {
        border: 1px solid $navy;
      }
    }
    .btn { color: white;}
  }
  .vehicle-dropdown {
    border-top: 1px solid $navy;
  }
  footer {
    background-color: $dark-skin-darker;
    color: $dark-skin-darker-text;
    a {
      color: $dark-skin-darker-text;
      &:hover { color: $navy;}
    }
  }
}
