// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* HOME PAGE SEARCH FORM
-------------------------------------------------- */
.search-form {
  .form-control {
    background: $main-dark;
    color: #9c9c9c;
    border: 1px $main-dark;
  }
  input {
    background: transparent;
    color: white;
    border-radius: 4px;
    margin-bottom: 15px;
    &:focus {
      border: 1px solid $navy;
    }
  }
  .btn {
    background-color: $main-dark;
    border: 1px solid $main-dark;
    width: 100%;
    &:hover { background: $navy; color:white; border: 1px solid $navy;}
  }
}

/* SEARCH FORM IN THE SUBHEADER
-------------------------------------------------- */
.results-search-form {
  .form-control {
    background: transparent;
    color: #C5C5C5;
    border: 1px solid #585858;
    border-right: 0px;
  }
  input {
    background: #FFF;
    color: #313131;
    border-radius: 0px;
    &:focus {
      border: 1px solid $navy !important;
    }
  }
  select {
    border-radius: 0px;
    -webkit-appearance: none;
    &:focus {
      border: 1px solid $navy !important;
    }
  }
  .btn {
    background-color: $navy;
    color: white;
    border: 1px solid $navy;
    width: 100%;
    &:hover { background: darken($navy, 5%); color:white; border: 1px solid $navy;}
  }
  .both-column-adjust {
    padding-left: 0px;
    padding-right: 0px;
  }
  .first-column-adjust {
    padding-right: 0px;
  }
  .last-column-adjust {
    padding-left: 0px;
  }
  .form-group {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 992px) {
  .form-control {
    border: 1px solid #585858;
  }
}

/* THE EXPANDING SEARCH BOX
-------------------------------------------------- */
// $tl: 0.6s; // transition length
//
// .search-box {
//   transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
//   width: 40px;height: 40px;
//   border-radius: 20px;border: none;
//   cursor: pointer;
//   background: rgb(235, 235, 235);
//   margin-left:70px;
//   & + label .search-icon {    color: black    }
//   &:hover {
//     color: white;
//     background: rgb(200, 200, 200);
//     box-shadow: 0 0 0 5px $navy;
//     & + label .search-icon {    color: white    }
//   }
//   &:focus {
//     transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
//     border: none;outline: none;
//     box-shadow: none;
//     padding-left: 15px;
//     cursor: text;
//     width: 300px;
//     border-radius: auto;
//     background: rgb(235, 235, 235);
//     color: black;
//     & + label .search-icon {    color: black;    }
//   }
//   &:not(:focus) { text-indent:-5000px; } // for more-graceful falling back (:not browsers likely support indent)
// }
//
// #search-submit {
//   position: relative;
//   left: -5000px;
// }
//
// .search-icon {
//   position: relative;
//   left: -30px;
//   color: white;
//   cursor: pointer;
// }
