<ul>
<% subcategories.each do |sub| %>
<li>
<%= sub.name %> <%= link_to "Edit", edit_category_path(sub)%> <%= link_to "Delete", sub, :method => 'delete', data: { confirm: 'Are you sure?' } %>
<%= render partial: 'subcategory', locals: {subcategories: sub.subcategories} if sub.subcategories.present? %>
</li>
<% end %>
</ul>
