<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Top Searched Categories
  </div>
  <div class="panel-body">
    <%= column_chart category_searches_admin_charts_path %>
  </div>
</div>
