<div class="panel panel-default">
  <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Search Volume
  </div>
  <div class="panel-body">
    <%= line_chart search_records_admin_charts_path %>
  </div>
</div>
