<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Vehicles by Vehicle Type
  </div>
  <div class="panel-body">
    <%= pie_chart vehicles_by_type_admin_charts_path %>
  </div>
</div>
