<div class="col-md-12">
  <div id="nj-heading" class="nj-mat">
    <h1>Products</h1>
    <p>The Ninja database currently has <%= @products.count %> products.</p>
  </div>

  <div id="nj-content" class="nj-mat">
    <table class=" nj-table">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Name</th>
          <th>Description</th>
          <th colspan="2"></th>
           <th><%= link_to 'New Product', new_product_path, class:"float-right btn nj-btn btn-thin" %></th>
        </tr>
      </thead>

      <tbody>
        <%= render @products %>
      </tbody>
    </table>
  </div>
</div>
