<li class="forum-post">
  <div class="forum-post-body">
    <div class="media">
      <a class="pull-left" href="#"><img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"></a>
      <div class="media-body">
        <%= forum_post.body %>
        <br>
        <small class="text-muted"><%= forum_post.user.username %> | 23rd June at 5:00pm</small>
        <hr>
      </div>
    </div>
  </div>
</li>
