<div class="ibox">
  <div class="ibox-title">
    <h3>Dashboard</h3>
  </div>
  <div class="ibox-content">
    <ul class="dashboard-links">
      <%= link_to dashboard_account_settings_path do %><li><i class="fa fa-user"></i> Account Settings </li> <% end %>
      <%= link_to dashboard_user_profile_path do %><li><i class="fa fa-user-secret"></i> Edit Profile </li> <% end %>
      <%= link_to edit_user_registration_path do %><li><i class="fa fa-envelope-o "></i> Messages <span class="label label-warning pull-right">16</span></li> <% end %>
    </ul>
  </div>
</div>
