<div class="">
  <h3 class="text-center">Find it On Ebay</h3>
  <div class="row">
    <%= render 'shared/ebay_product'%>
    <%= render 'shared/ebay_product'%>
    <%= render 'shared/ebay_product'%>
    <%= render 'shared/ebay_product'%>
  </div>
  <p>
    Dawg ipsizzle dolizzle mah nizzle amizzle, consectetuer adipiscing elit. Nullizzle boom shackalack shiz, aliquet volutpizzle, fo shizzle quizzle, gravida vizzle, fo. Pellentesque egizzle gangsta. Shizzlin dizzle erizzle. Go to hizzle izzle break it down dapibizzle turpizzle tempizzle pot. Mauris stuff nibh et turpizzle. Fizzle izzle tortor. Pellentesque bizzle rhoncus nisi. In hizzle fo i saw beyonces tizzles and my pizzle went crizzle dictumst. Gangster dapibizzle. Fo shizzle tellizzle yo mamma, pretizzle eu, doggy ac, eleifend vitae, nunc. Sheezy suscipizzle. Integer semper break it down i saw beyonces tizzles and my pizzle went crizzle crackalackin.

  </p>
  <p>
    Phasellus interdizzle volutpizzle things. Ut tellivizzle adipiscing check it out. Yo non est. Fo shizzle uhuh ... yih! massa, ultrices nec, accumsizzle ass, fermentizzle crunk, gangster. Funky fresh nizzle sheezy. Etizzle rutrizzle ornare ante. Maurizzle cool. Vestibulizzle own yo' pizzle ghetto nibh gangster commodo. Lorem ipsizzle dolor sizzle crackalackin, consectetuer adipiscing elit. Sed izzle mi. Quisque mi sem, sodalizzle daahng dawg, check it out a, eleifend a, fo shizzle.
  </p>
  <p>
    Dawg ullamcorper. Aliquizzle sagittizzle pot dizzle mauris. Its fo rizzle ante ipsizzle black in faucibizzle fo shizzle luctizzle crackalackin i'm in the shizzle posuere cubilia Curae; Aenean vestibulum. Pellentesque habitant morbi crackalackin senectizzle et sizzle break yo neck, yall mofo mammasay mammasa mamma oo sa that's the shizzle turpis egestas. Pizzle pimpin' fo shizzle mah nizzle fo rizzle, mah home g-dizzle velit. Sheezy dawg volutpat. Vivamizzle bizzle enim, rizzle ac, dignissim a, fringilla vizzle, pimpin'. Nulla elit. Donizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle, fo izzle pharetra brizzle, black you son of a bizzle stuff neque, non fizzle urna you son of a bizzle quizzle nibh. Vivamizzle ma nizzle shiznit, ultrices ut, for sure sheezy, vulputate my shizz, pizzle. Praesent dang stuff, bibendum sizzle sizzle, interdizzle vehicula, dignissim malesuada, arcu. Yippiyo pimpin' ipsum fo shizzle my nizzle check out this ullamcorper boofron. Donec ass. Fizzle fo urna, mofo id, the bizzle venenatis, yippiyo nizzle, fo. Etiam gravida.
  </p>
  <p>
    Brizzle eget purizzle. Own yo' sizzle amizzle diam izzle you son of a bizzle boom shackalack pellentesque. Ma nizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle erizzle. Vivamus owned sapizzle, lacinia sit dawg, vulputate vitae, go to hizzle gangster, nunc. Cras sizzle sheezy maurizzle. Nullam fermentizzle mattis nunc. I'm in the shizzle vulputate, elit in ultrices sizzle, velit tellizzle cursizzle its fo rizzle, ghetto condimentum lacus purizzle quis crunk. The bizzle fermentizzle fizzle nunc. Ass dignissizzle. Check it out hizzle boom shackalack cool go to hizzle. Uhuh ... yih! sit amizzle you son of a bizzle. Gangsta sed dizzle. Aenean izzle risizzle. Dawg lobortis, pimpin' eget adipiscing tellivizzle, massa nulla pretizzle lorizzle, quizzle i'm in the shizzle ipsizzle away izzle risizzle.
  </p>
  <p>
    Cras get down get down pede et yo mamma. The bizzle you son of a bizzle sheezy penatibizzle et magnis fo shizzle my nizzle parturient ass, nascetizzle sheezy mizzle. Ut purizzle gangsta, molestie go to hizzle, convallis ghetto, sollicitudizzle you son of a bizzle, urna. Mammasay mammasa mamma oo sa shut the shizzle up urna commodo libero. Shit sagittizzle. Nullam augue orci, you son of a bizzle a, aliquizzle away, condimentizzle at, owned. Crizzle cool, nulla brizzle amizzle yippiyo gravida, for sure lectus shizzle my nizzle crocodizzle enizzle, shut the shizzle up hendrerizzle ma nizzle we gonna chung scelerisque velizzle. Black quizzle odio. Its fo rizzle nonummy dolizzle break it down metizzle. Izzle facilisi.
  </p>
  <p>
  Its fo rizzle tempizzle away izzle check out this. Pellentesque funky fresh dui ac ligula shit interdizzle. Shizzle my nizzle crocodizzle auctizzle cool da bomb. Aliquam luctizzle for sure neque. Aliquam erizzle volutpat. In sit amizzle ass. Pellentesque fo shizzle felis at nunc. Aenizzle a fo. Mah nizzle justo, molestie dapibus, mollizzle bow wow wow, molestie nec, ma nizzle. Nulla yo sizzle in sapizzle egestas consequizzle. Gangsta non erat. Cras daahng dawg. Morbi mah nizzle tortor, auctor vizzle, sizzle a, malesuada izzle, crunk. Fo shizzle my nizzle dang ultricizzle mi. Fo shizzle my nizzle orci, hizzle quizzle, vehicula izzle, euismod sed, its fo rizzle. Nullizzle check it out. Morbi izzle sapien erizzle pizzle the bizzle. Nam lectizzle that's the shizzle, dang break yo neck, yall, tempus daahng dawg, adipiscing cool, ante.
  </p>
</div>
