<div id="sidebar-ebay-results">
  <div class="topic-title">
    <h3>Find it On Ebay</h3>
  </div>
  <% if @ebay_results.present? && @ebay_results.results.any? %>
    <%= render partial: 'shared/ebay_listing', collection: @ebay_results.results%>
  <% else %>
  <div class="card p-md">
    <h3 class="text-center">Find listings on eBay <%= link_to "here", "#" %></h3>
  </div>
  <% end %>
</div>
