<% if notice %>
  <div id="notice-wrapper">
    <p class="alert notice"><%= notice %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
  </div>
<% elsif alert %>
  <div id="notice-wrapper">
    <p class="alert"><%= alert %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
  </div>
<% end %>
