<section class="hero page-header-image" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
        <div class="inner">
          <h3>What Are You Looking For?</h3>
          <%= render 'search/form' %>
          </div>
       </div>
      </div>
    </div>
</section>