<section class="hero" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
        <div class="animatedParent">
          <h1 class="animated fadeInDown">The Parts Ninja</h1>
          <p class="animated fadeInUp white">Millions of compatibles at your fingertips</p>
        </div>
       </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <form id="searchbox" action="">
              <input id="search" type="text" placeholder="Type here">
              <input id="submit" type="submit" value="Search">
          </form>
        </div>
      </div>
    </div>
</section>