<section class="hero" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center inner">
        <div class="animatedParent">
          <h1 class="animated fadeInDown">Parts HUB</h1>
          <p class="animated fadeInUp white">Millions of compatibles at your fingertips</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <%= render 'search/form' %>
      </div>
    </div>
  </div>
</section>